[Desktop Entry]
Name=Office Planner
Comment=Open Planner in Chrome
Exec=/home/surya/.local/bin/office365_tools planner
Icon=/home/surya/.local/share/icons/office365/planner.png
Terminal=false
Type=Application
Categories=Office;
