[Desktop Entry]
Name=Office Word
Comment=Open Word in Chrome
Exec=/home/surya/.local/bin/office365_tools word
Icon=/home/surya/.local/share/icons/office365/word.png
Terminal=false
Type=Application
Categories=Office;
