[Desktop Entry]
Name=Office Outlook
Comment=Open Outlook in Chrome
Exec=/home/surya/.local/bin/office365_tools outlook
Icon=/home/surya/.local/share/icons/office365/outlook.png
Terminal=false
Type=Application
Categories=Office;
