[Desktop Entry]
Name=Spotify GUI
Exec=google-chrome-stable --app=https://open.spotify.com
Comment=Open Spotify in Chrome
Icon=/home/surya/.local/share/icons/patch/spotatui.png
Type=Application
Terminal=false
StartupNotify=false
Categories=Music;
